body {
  background-color: antiquewhite;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;

}

.vertical {
  min-width: 320px;
  max-width: 320px;
  transform: rotate(90deg);
  grid-column-end: 3;
}

.horizontal {
  max-width: 320px;
  min-width: 320px;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: end;

}

.img__container {
  position: relative;

}

img {
  position: absolute;
  max-width: 450px;
  max-height: 500px;
}